img{
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 5%; 
	width: 20%;
}

div{
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 5%; 
	width: 40%;
}

.text{
	text-align: left;
	font-size: 20px;
	line-height: 1.2em;

}

.greets1{
	line-height: 3px !important;
}

.greets2{
	line-height: 0px !important;
}